@model IEnumerable<googleCharts.Models.grappe>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.se)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nbrmen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.remq)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cgid)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.se)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nbrmen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.remq)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cgid)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
